<!doctype html>
<html>
 <%- include('partials/header') %>


   <body class="bg">

     <script src="scripts/main.js"> </script>

       <%- include('partials/navbar') %>

     <div class="titleAbout">
       <h2 id="abouttitle">ABOUT US</h2>
    </div>

    <img src="Images/ARROW-01.png" alt="ARROW-01" id="ARROW-01" >
<!-- A container to hold the contents of the about page -->
     <div class="containerforabout">
       <div class="row">
         <div class="col-md-12">
          <div id="whatispyp">
              <h2><br>WHAT IS PICK YOUR<br>POISON?</h2>
          </div>
        </div>
      </div>

       <div class="row">
         <div class="col-md-12">
           <p class="AboutParagraph" id="StuffAboutTheWebsite1">&nbsp</p>
         </div>
        </div>
<!--Description of what the site is about-->
        <div class="row">
         <div class="col-md-6">
            <p class="AboutParagraph" id="StuffAboutTheWebsite2">
              Pick your poison is a website that is designed to allow users have the opportunity to create a variety of drinks out of whatever ingredients they have in their pantry. This site is basically for entertainment and mostly channeled to young users who are eager to try and experiment new things.
            </p>
          </div>
          <div class="col-md-6">
            <p class="AboutParagraph" id="StuffAboutTheWebsite2">
              This website was designed by a group of 200 level students in the Computing Department of the prestigious Robert Gordon University during a web developement moodle.Many thoughts, individual and collective researches were conducted to get this site up and running and further reseaches are been carried out to enable us make the site more entartaining and efficient whilst meeting the needs of every individual that visits the site.
            </p>
          </div>
        </div>
<!--Adding images for the about page-->
        <div class="row">
        <div class="col-md-4">
              <p class="p3">Research</p>
              <img  class="p4" src="Images/Research.jpg"alt="Research">
          </div>

          <div class="col-md-4">
              <p class="p3">Relations</p>
              <img  class="p4" src="Images/Relations.jpg"alt="Relations">
          </div>

           <div class="col-md-4">
              <p class="p3">Cocktail</p>
              <img  class="p4" src="Images/Cocktail.jpg"alt="cocktail">
            </div>
         </div>

      </div>

 <footer>
    <%- include('partials/footer') %>
     </footer>
   </body>
