<!DOCTYPE html>
<html>
   <%- include('partials/header') %>

   <body class="bg">
     <script src="scripts/main.js"> </script>

       <%- include('partials/navbar') %>

 <h2>Hi <%= user.username %></h1>



 <footer>
    <%- include('partials/footer') %>
     </footer>
   </body>
